<a href="https://colab.research.google.com/github/adrien50/basicprojectmachinelearning/blob/main/Google_Sheets_is_an_o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Google Sheets is an online spreadsheet service from Google that lets you create spreadsheets in the cloud. Reading Google Sheets is different from reading a Microsoft Excel or CSV file using Python. So in this article, I’m going to walk you through how to read data from Google Sheets using Python for Data Science.


 
You can easily create a spreadsheet in Google Sheets, it is very same as Microsoft Excel spreadsheets. For this task, you need to have a spreadsheet on Google Sheets that you can create or upload an Excel file to Google Sheets.

##Read Data From Excel Sheets using Python
Reading data from Google Sheets is not possible in an IDE or a code editor in our systems. For this task, you need to use Google Colab, another service from Google for creating Jupyter notebooks. You must have used Google Colab for any data science project before.

In [ ]:
from google.colab import auth
auth.authenticate_user()
import requests
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

## Final Step: Using Python Pandas
You’ve connected Google Colab to Sheets, now let’s see how to read Google Sheets using Python for data science using Pandas library in Python:

In [ ]:
import pandas as pd
sheetname="AAPL" # Enter Sheet name without using extention
sh = gc.open(sheetname)
worksheet = sh.sheet1
values_list = worksheet.get_all_values()
df = pd.DataFrame(values_list)
df.head()

            0          1          2          3          4          5          6
0        Date       Open       High        Low      Close  Adj Close     Volume
1  2020-04-20  69.487503  70.419998  69.212502  69.232498  68.583473  130015200
2  2020-04-21  69.070000  69.312500  66.357498  67.092499  66.463539  180991600
3  2020-04-22  68.402496  69.474998  68.050003  69.025002  68.377922  116862400
4  2020-04-23  68.967499  70.437500  68.717499  68.757500  68.112923  124814400